# Playstore Apps analysis & Visualization

In [1]:
#import required libraries
import pandas as pd
import numpy as np

In [2]:
#Reading given files.
ps_reviews = pd.read_csv(r"C:\Users\Danish\OneDrive\Desktop\Internship\Hi counsellor\playstore_reviews.csv", index_col = 'App')

In [3]:
#displaying top 10 rows

ps_reviews.head(10)

,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
App,,,,
10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
10 Best Foods for You,NaN,NaN,NaN,NaN
10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
10 Best Foods for You,Best idea us,Positive,1.00,0.300000
10 Best Foods for You,Best way,Positive,1.00,0.300000
10 Best Foods for You,Amazing,Positive,0.60,0.900000
10 Best Foods for You,NaN,NaN,NaN,NaN
10 Best Foods for You,"Looking forward app,",Neutral,0.00,0.000000
10 Best Foods for You,It helpful site ! It help foods get !,Neutral,0.00,0.000000

In [4]:
#Displaying bottom 8 rows
ps_reviews.tail(8)

,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
App,,,,
Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
Houzz Interior Design Ideas,NaN,NaN,NaN,NaN

In [5]:
#Describing the numerical data

ps_reviews.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Sentiment_Polarity,37432.0,0.182146,0.351301,-1.0,0.000000,0.150000,0.40,1.0
Sentiment_Subjectivity,37432.0,0.492704,0.259949,0.0,0.357143,0.514286,0.65,1.0

In [6]:
ps_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 64295 entries, 10 Best Foods for You to Houzz Interior Design Ideas
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Translated_Review       37427 non-null  object
 1   Sentiment               37432 non-null  object
 2   Sentiment_Polarity      37432 non-null  float64
 3   Sentiment_Subjectivity  37432 non-null  float64
dtypes: float64(2), object(2)
memory usage: 2.5+ MB

In [7]:
ps_reviews.dtypes

Translated_Review          object
Sentiment                  object
Sentiment_Polarity        float64
Sentiment_Subjectivity    float64
dtype: object

In [8]:
#checking for null values
ps_reviews.isnull().sum()

Translated_Review         26868
Sentiment                 26863
Sentiment_Polarity        26863
Sentiment_Subjectivity    26863
dtype: int64

## Subtask 1: Removing duplicate rows:

In [9]:
#checking for duplicate Data

ps_reviews.duplicated().sum()

36299

In [12]:
 reviews = ps_reviews.drop_duplicates()

In [13]:
reviews.head(8)

,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
App,,,,
10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
10 Best Foods for You,NaN,NaN,NaN,NaN
10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
10 Best Foods for You,Best idea us,Positive,1.00,0.300000
10 Best Foods for You,Best way,Positive,1.00,0.300000
10 Best Foods for You,Amazing,Positive,0.60,0.900000
10 Best Foods for You,"Looking forward app,",Neutral,0.00,0.000000

In [14]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27996 entries, 10 Best Foods for You to Housing-Real Estate & Property
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Translated_Review       27994 non-null  object
 1   Sentiment               27995 non-null  object
 2   Sentiment_Polarity      27995 non-null  float64
 3   Sentiment_Subjectivity  27995 non-null  float64
dtypes: float64(2), object(2)
memory usage: 1.1+ MB

## Subtask2: Remove irrelevant values from each column if any:

In [15]:
#getting column names
reviews.columns

Index(['Translated_Review', 'Sentiment', 'Sentiment_Polarity',
       'Sentiment_Subjectivity'],
      dtype='object')

In [16]:
#checking for unique values to see if there is any irelevant data which does not match the datatype

print(reviews["Translated_Review"].unique())
print(reviews["Sentiment"].unique())
print(reviews["Sentiment_Polarity"].unique())
print(reviews["Sentiment_Subjectivity"].unique())

['I like eat delicious food. That\'s I\'m cooking food myself, case "10 Best Foods" helps lot, also "Best Before (Shelf Life)"'
 'This help eating healthy exercise regular basis' nan ...
 'Dumb app, I wanted post property rent give option. Website work. Waste time space phone.'
 'I property business got link SMS happy performance still guys need raise bar guys Cheers'
 'Useless app, I searched flats kondapur, Hyderabad . None number reachable I know flats unavailable would keep posts active']
['Positive' nan 'Neutral' 'Negative']
[ 1.          0.25               nan ... -0.52857143 -0.37777778
  0.17333333]
[0.53333333 0.28846154        nan ... 0.51145833 0.7172619  0.2594697 ]

### There r no irrelevant data

In [17]:
reviews.isnull().sum()

Translated_Review         2
Sentiment                 1
Sentiment_Polarity        1
Sentiment_Subjectivity    1
dtype: int64

In [19]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27996 entries, 10 Best Foods for You to Housing-Real Estate & Property
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Translated_Review       27994 non-null  object
 1   Sentiment               27995 non-null  object
 2   Sentiment_Polarity      27995 non-null  float64
 3   Sentiment_Subjectivity  27995 non-null  float64
dtypes: float64(2), object(2)
memory usage: 1.1+ MB

In [21]:
reviews.to_csv("cleaned_reviewsfile.csv")

In [22]:
reviews.head(8)

,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
App,,,,
10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
10 Best Foods for You,NaN,NaN,NaN,NaN
10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
10 Best Foods for You,Best idea us,Positive,1.00,0.300000
10 Best Foods for You,Best way,Positive,1.00,0.300000
10 Best Foods for You,Amazing,Positive,0.60,0.900000
10 Best Foods for You,"Looking forward app,",Neutral,0.00,0.000000